apiVersion: addons.cluster.x-k8s.io/v1alpha1
kind: HelmChartProxy
metadata:
  name: cilium
spec:
  clusterSelector:
    matchLabels:
      caprox.eu/cni: cilium-v1.18.4
  releaseName: cilium
  version: 1.18.4
  repoURL: https://helm.cilium.io/
  chartName: cilium
  namespace: kube-system