# secret-proxmox-cluster-storage.yaml
apiVersion: v1
stringData:
  proxmox-credentials: |-
    apiVersion: v1
    kind: Secret
    metadata:
      name: proxmox-credentials
      namespace: kube-system
    stringData:
      # change this
      token_id: "xxx@pve!capi"
      token_secret: "xxx-xxx-xxx-xxx-xxx"
    ---
    apiVersion: v1
    stringData:
      config.yaml: |-
        features:
          provider: capmox
        clusters:
          - url: https://192.168.2.142:8006/api2/json
            insecure: true
            token_id_file: /var/run/secrets/proxmox/token_id
            token_secret_file: /var/run/secrets/proxmox/token_secret
            # Datacenter name - always Datacenter
            region: Datacenter
    kind: Secret
    metadata:
      name: csi-config
      namespace: kube-system
    ---
    apiVersion: v1
    stringData:
      config.yaml: |-
        features:
          # Provider type
          provider: capmox
          network:
            mode: qemu
        clusters:
          - url: https://192.168.2.142:8006/api2/json
            insecure: true
            token_id_file: /var/run/secrets/proxmox/token_id
            token_secret_file: /var/run/secrets/proxmox/token_secret
            # Datacenter name - always Datacenter
            region: Datacenter
    kind: Secret
    metadata:
      name: ccm-config
      namespace: kube-system
    type: Opaque
kind: Secret
metadata:
  name: proxmox-credentials
  namespace: caprox-kubernetes-engine
  annotations:
    docs: this is the secret which will be used in the workload cluster to attach and detach volumes
type: addons.cluster.x-k8s.io/resource-set