# configure templateID,soureNode and controlPlaneEndpoint
apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  labels:
    # mandatory for functional cluster
    caprox.eu/cni: cilium-v1.18.4
    caprox.eu/ccm: "true"
    caprox.eu/inject-proxmox-credentials: "true"
    # optional
    caprox.eu/csi: "true"
    caprox.eu/service-lb: "true"
  name: manuels-k8s-cluster
  namespace: caprox-kubernetes-engine 
spec:
  topology:
    class: proxmox-clusterclass-cilium-v0.1.0
    version: 1.34.2
    controlPlane:
      replicas: 3
    workers:
      machineDeployments:
      - class: proxmox-worker
        name: proxmox-worker-pool
        replicas: 3
    variables:
    - name: cloneSpec
      value:
        vmTemplate:
          sourceNode: node01
          templateID: 101
        #Example of if you want to modify node resources
        #machineSpec:
        #  controlPlane:
        #    numCores: 2
        #    numSockets: 1
        #    memoryMiB: 4096
        #  workerNode:
        #    numCores: 6
        #    numSockets: 1
        #    memoryMiB: 6144
        #    disks:
        #      bootVolume:
        #        disk: scsi0
        #        sizeGb: 80
    - name: controlPlaneEndpoint
      value:
        host: 192.168.2.210